@font-face {
  font-family: 'Mincho-Regular';
  src: url('assets/BIZUDMincho-Regular.ttf');
}

@font-face {
  font-family: 'Mincho-Bold';
  src: url('assets/BIZUDMincho-Bold.ttf'); 
}

@font-face{
  font-family: 'Adamina';
  src: url('assets/Adamina-Regular.ttf');
}

@font-face {
  font-family: 'Avenir Next';
  src: url('assets/Avenir Next.ttf');
}

@font-face {
  font-family: 'Noto Sans SC';
  src: url('assets/NotoSansSC-VariableFont_wght.ttf');
}

:root {
  --darkGreen: #3A421D;
  --red: CD3E3E;
  --teal: #73c1cd;
  --lightGreen: #a2bb58;
  --yellow: #ffd470;

  --bg: #ffffff;

}


body {
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
  border: 5px solid var(--darkGreen);
}

h1 {
  font-family: 'Mincho-Bold', serif;
  font-size: 56px;
  color: var(--darkGreen);
  text-transform: uppercase;
  margin-top: -10px;

}

h2 {
  font-family: 'Mincho-Bold', serif;
  font-size: 56px;
  color: var(--darkGreen);
  text-transform: lowercase;
  margin-top: -10px;

}

#container {
  display: flex;
  height: 100vh;
  position: relative;
}


#sidebar {
  width: 360px;
  background: var(--bg);
  padding: 0px;
  box-sizing: border-box;
  border-right: 5px solid var(--darkGreen);
  border-left: 5px;
  /* margin-top: -5px;
  margin-left: -5px; */

  display: flex;    
  flex-direction: column;
  /* justify-content: space-between; */
}

#sidebar titleBox {
  display: block;
  width: 320px;
  height: 40px;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;

  padding: 20px;
  border: none;    
  border-bottom: 5px solid var(--darkGreen);     
  border-radius: 0;     /* sharp corners */
  background: transparent;
}

.buttonGroup{
    margin-top: auto;
    margin-bottom: -5px;
}

#sidebar button {
  display: block;
  width: 355px;
  margin-top: -5px;
  margin-left: 0px;
  /* margin-right: -5px; */

  padding: 12px;
  padding-left: 20px;
  border-top: 5px solid var(--darkGreen);  
  border-right: none;
  border-left: none;     
  border-bottom: 5px solid var(--darkGreen);
  border-radius: 0;     /* sharp corners */
  background: var(--bg);
  color: var(--darkGreen);
  font-family: 'Avenir Next', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: lowercase;
  text-align: left;
  cursor: pointer;
}

#sidebar button:hover {
  background: var(--lightGreen);
  color: var(--darkGreen);
}

#sidebar button.active {
  background: var(--yellow);
  color: black;
}


#content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

/* memory map area placeholder */
#memory-map {
  height: 80vh;
  background: #f8f8f8;
  border: 1px solid #ddd;
  position: relative;
  /* overflow: hidden; */
}

/* floating food labels later */
.food-label {
  position: absolute;
  font-weight: bold;
  transition: left 10s linear, top 10s linear;
  /* animation: float var(--float-time) ease-in-out infinite alternate; */
}

@keyframes float {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(var(--dx), var(--dy));
  }
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

#tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.7);
  border-radius: 6px;
  max-width: 200px;
  pointer-events: none;
  z-index: 999;
  font-size: 0.85rem;
}

.food-label:hover {
  cursor: pointer;
  color: #d44; /* optional highlight */
}

/* 
#page-memory {
  flex: 1;
  transition: width 0.4s ease;
} */

/* The sliding Add Food panel */
/* #page-input {
  width: 50%;
  max-width: 600px;
  background: var(--bg);
  border-left: 5px solid var(--darkGreen);
  padding: 20px;
  box-sizing: border-box;

  position: absolute;
  top: 0;
  right: -50%;     
  height: 100%;
  transition: right 0.4s ease;
}
//when panel is visible
#page-input.open {
  right: 0;
}


#page-memory.shrink {
  width: 50%;  
}
 */




